### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### Angular ###
## Angular ##
# compiled output
ReqestFrontApp/dist/
tmp/
app/**/*.js
app/**/*.js.map

# dependencies
ReqestFrontApp/node_modules/
ReqestFrontApp/bower_components/

# IDEs and editors
ReqestFrontApp/.idea/

# misc
ReqestFrontApp/.sass-cache/
ReqestFrontApp/connect.lock/
ReqestFrontApp/coverage/
ReqestFrontApp/libpeerconnection.log/
ReqestFrontApp/npm-debug.log
ReqestFrontApp/testem.log
ReqestFrontApp/typings/
ReqestFrontApp/.angular/

# e2e
ReqestFrontApp/e2e/*.js
ReqestFrontApp/e2e/*.map

